<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- 数据源封装类:获取数据库连接 spring-jdbc.jar -->
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        	<property name="url" value="jdbc:mysql://localhost:3306/ssm?serverTimezone=UTC"></property>
        	<property name="username" value="root"></property>
        	<property name="password" value="capslock"></property>
        </bean>
        <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        </bean>
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<!-- 扫描器相当于mybatis.xml中 mappers下package标签,扫描com.bjsxt.mapper包后会给对应接口创建对象-->
        	<property name="basePackage" value="com.rui.mapper"></property>
        	<!-- 和factory产生关系 -->
        	<property name="sqlSessionFactory" ref="factory"></property>
        </bean>
        <bean id="airportService" class="com.rui.service.impl.AirportServiceImpl">
        	<property name="airportMapper" ref="airportMapper"></property>
        </bean>
</beans>