<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.mapper.StudentMapper">
	<!-- 使用resultMap实现关联单个对象(N+1方式) -->
	<resultMap type="Student" id="stuMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="tid" column="tid"/>
		<!-- 关联一个对象使用该标签 -->
		<!--
			select:表示调用对象mapper中的方法
			column:表示需要传入的值
		-->
		<association property="teacher" select="com.rui.mapper.TeacherMapper.selById" column="tid"/>
		<!-- 如果时集合对象使用该标签 -->
		<!-- <collection property=""></collection> -->
	</resultMap>
	<select id="selAll" resultMap="stuMap">
		select * from student
	</select>
</mapper>