<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.mapper.StudentMapper">
	<!-- 使用Auto Mapping结合别名实现多表查询 -->
	<select id="selAll" resultType="Student">
		select t.id `teacher.id`,t.name `teacher.name`,s.id id,s.name name,age,tid from teacher t LEFT JOIN student s on t.id=s.tid 
	</select>
</mapper>